@model first_project.Models.UserCreationModel

@{
    ViewBag.Title = "Result";
}

<h2>@Model.Name</h2>

<h2>@Model.LastName</h2>

<h2>@Model.Email</h2>

<h2>@Model.Age</h2>

<h2>@Model.Description</h2>

<h2>@Model.SexType(Model.SexId)</h2>

