@model first_project.Models.Person

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Result", "Person", FormMethod.Post))
{
    <h2>Name</h2>
    @Html.TextBoxFor(model => model.Name,
    new { @class = "form-control", placeholder = "Name", required = "required", pattern = ".{2,}" })
    @Html.ValidationMessageFor(model => model.Name)
    <br />
    <br />
    <h2>Last name</h2>
    @Html.TextBoxFor(model => model.Lastname,
    new { @class = "form-control", placeholder = "Last name", required = "required", pattern = ".{2,}" })
    @Html.ValidationMessageFor(model => model.Lastname)
    <br />
    <br />
    <h2>Date of birth (MM/DD/YYYY)</h2>
    @Html.TextBoxFor(model => model.BirthDate,
    new { @class = "form-control", placeholder = "(MM/DD/YYYY)", required = "required" })
    @Html.ValidationMessageFor(model => model.BirthDate)
    <br />
    <br />
    
    <img src="~/Content/Images/images.jpg" />
    <br />
    <br />
    <button type="submit">Submit</button>
}

